/* line 1 */
body {
  font-family: Verdana;
  font-size: 10pt;
}
.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: top;
      margin-top: 12%;
}

.musicbtn{
  cursor: pointer;
  font-size: 1.4em;
}


.butn{
  margin-left: 3%;
  margin-top: 1%;
}
h1{
  font-family: 'Monoton', cursive;
}
#screen1{
  width: 100%;
color: lime;
}
.btn-play{
  padding: 15px;
  border: 2px solid lime;
  background-color: black;
font-size: large;
margin-top: 5%;
transition: .7s;
}
.btn-play:hover{
  background-color: rgba(33,244,9,.2);
  color:lime;
  box-shadow: 0 0 30px lime;
  transition: .7s;
}

#animateBG{
  margin: 0px auto;
  height: 500px;
  background: url('../images/sky.jpg');
  background-position: 0px 0px;
  background-repeat: repeat;
  -webkit-animation: animate-background linear 90s infinite;
  animation: animate-background linear 90s infinite;
}

#divStats {
    box-shadow: 0 0 8px white;
    background: linear-gradient(darkgrey, beige, darkgrey);
}

@-webkit-keyframes animate-background {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 1000px 0px;
  }
}
@keyframes animate-background {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 1000px 0px;
  }
}
